<template>
  <div class="HomePage">
    <div v-for="home in homes"
         :key="home.id"
    >
      {{ home.title }}
    </div>
  </div>
</template>

<script>
import homes from '@/data/homes'

export default {
  name: 'HomePage',
  data () {
    return {
      homes
    }
  }
}
</script>

<style scoped lang="sass">
.HomePage
  display: flex
  flex-direction: column
</style>
